{% extends 'base.html' %}

{% block content %}

    <h1><center>Home</h1>

    <p><center>Welcome to scout!
    Here you can scout for a new club to join or
        create one yourself!<br> <br>
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7c971627-a4b7-4073-92b9-f74bafb7f5d0/devsiy9-1bf220fb-d0b1-4087-a05f-fe39778a5aaa.png/v1/fill/w_973,h_822,q_70,strp/out_west__ne_by_yokusho_devsiy9-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY1IiwicGF0aCI6IlwvZlwvN2M5NzE2MjctYTRiNy00MDczLTkyYjktZjc0YmFmYjdmNWQwXC9kZXZzaXk5LTFiZjIyMGZiLWQwYjEtNDA4Ny1hMDVmLWZlMzk3NzhhNWFhYS5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-LkVW7Esm-5Iaa-KHwZ6OCDSSjlyxXDxmIQZDK3Wu-k"
         alt="image"style="width:400px;height:400px;">
    </p>



{% endblock %} 
